body {
  background-color: red;
  font-family: 'Rajdhani', sans-serif;
  font-weight: bold;
}

h1, h3, {
  font-family: 'Ruda', sans-serif;
}

.section {
  background-color: orange;
  margin-top: 20px;
  padding: 40px;
}

.question {
  margin: 20px;
}

/* #question1, .further-questions, #languages, .language {
  display: none;
} */

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

button[name='start-over'] {
  margin-top: 15px;
}

@media (max-width: 480px) {
  .section {
    margin-top: 10px;
    padding: 10px;
  }
}
