body {
  background-color: #E6EBE0;
  font-family: 'Rajdhani', sans-serif;
  font-weight: bold;
  color: #2B303A;
}

h1, h3 {
  font-family: 'Ruda', sans-serif;
  color: black;
}

.section {
  background-color: #9BC1BC;
  border-top: 3px double #ED6A5A;
  margin-top: 20px;
  padding: 40px;
}

.question {
  margin: 20px;
}

/* #question1, .further-questions, #languages, .language {
  display: none;
} */

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #ED6A5A;
}

button[name='start-over'] {
  margin-top: 15px;
}

@media (max-width: 480px) {
  .section {
    margin-top: 10px;
    padding: 10px;
  }
}
